<!DOCTYPE html>
<html>
<head>
  <title>GitPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Git Practice</h1>
<p>Pork belly gentrify typewriter YOLO letterpress Echo Park. Chillwave ennui cred pork belly, Tumblr bespoke organic taxidermy mumblecore. Hoodie Pinterest put a bird on it, listicle mumblecore authentic ennui heirloom street art pour-over pork belly raw denim fanny pack. Selfies deep v mustache, tousled Odd Future pug bicycle rights plaid gastropub Kickstarter High Life Shoreditch. Dreamcatcher tattooed hella Kickstarter master cleanse. Letterpress fap tousled hoodie narwhal pug. Odd Future try-hard twee, Pinterest tattooed listicle hashtag quinoa paleo mixtape bespoke drinking vinegar fanny pack selvage ugh.</p>

<%= yield %>

</body>
</html>
